configuration {
theme: "/usr/share/rofi/themes/material2.rasi";
lines: 8;
terminal: "alacritty";
show-icons: true;
icon-theme: "Tela black";
modi:  "drun,run,power:~/.config/rofi/power.sh,window";
}

element-icon {
    size: 1.6em;
}

/* nice themes: sidetab */
             /* material */
             /* onedark */
             /* slate */
